@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;500;600;700;800&display=swap');

$darkElement: hsl(209, 23%, 22%); // (Dark Mode Elements)
$darkBg: hsl(207, 26%, 17%); // (Dark Mode Background)
$lightText: hsl(200, 15%, 8%); // (Light Mode Text)
$lightInput: hsl(0, 0%, 52%); // (Light Mode Input)
$lightBg: hsl(0, 0%, 98%); // (Light Mode Background)
$white: hsl(0, 0%, 100%); // (Dark Mode Text & Light Mode Elements)

$fontFamily: 'Nunito Sans', sans-serif;

$mobileWidth: 500px;
$tabletWidth: 800px;
$largeDeviceWidth: 1200px;